body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #595959;
    margin: 0;
}

header {
    background: url(images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.logo {
    margin-top: 15%;
    width: 40%;
}

h1 {
    text-align: center;
}

.social {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social img {
    height: 36px;
    padding: 20px;
}

main {
    font-size: 1.2em;
    display: flex;
}

.content {
    padding: 20px;
}

.images {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.images img {
    max-width: 400px;
    margin-bottom: 5px;
}

footer {
    display: flex;
    align-items: baseline;
}

footer .footer_logo {
    width: 150px;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .images img {
        width: 100%;
    }
}